@model WebTasks1a9NewProject.Models.Exec9

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Exec9</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomeUser)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomeUser)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdadeUser)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdadeUser)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PesoUser)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PesoUser)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AlturaUser)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AlturaUser)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SaidaUser)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SaidaUser)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AvisoUser)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AvisoUser)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ConteudoUser)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ConteudoUser)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
